page-start {
    ion-spinner * {
        width: 60px;
        height: 60px;
    
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        margin-left: -25px;
     
        color: #ffffff !important;
        stroke: #ffffff !important;
        fill: #ffffff !important; 
      }
}
