page-sellerorbuyer {
 .button{
     height: 60px;
     padding: 15px;
     margin-top: -2px;
     display: block;
    // position: absolute;
 }
 .imgbuttons{
     margin-top: 15px;
     display: block;
     margin-left: 40px;
     
 }
 .imgbuttons2{
     margin-top: 15px;
     display: block;
     margin-left: 50px;
 }
 .buttoncontainer{
    display: block;
 }
}
